body{
    font-family: "Open Sans", sans-serif;
    background-color: #ebebeb;
    color: #7d7d7d;
}
h1, h2, h3{
    font-family: 'Montserrat';
    color: #7d7d7d;
}
h1 {
    color: #dd5555;
}
.button {
    background-color: #dd5555; /* Red */
    text-decoration: none;
    color: white;
    border: none;
    padding: 15px 32px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
header{
    margin-top: 30px;
}
header, aside, article {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 500px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 5px;
}
p{
    text-align: justify;
    padding-left: 3%;
    padding-right: 3%;
 
}
p.art{
    
    padding-left: 30%;
    padding-right: 5%
}
header>img {
    border-radius: 50%;
    border: 1px solid hsl(216, 22%, 91%);
}
aside>i, a {
    display: block;
    color: #cccccc;
    margin-left: 20px;
    margin-right: 20px;
}
.fab{
    color:#cccccc;
}
aside>div{
    display: inline-block;  

}
article>img, h3{
    display: inline-block; 
    margin-top: 0;  
}
article>img {
    float: left;
    width: 7vw; 
    vertical-align: text-top;
    margin-left: 5%;  

}
span{
    background-color: #d4d4d4;
}

article>p {
    margin-top: 0;
    text-align: justify-all;
    font-size: 1em;
}
h2{
    
    padding-bottom: 30px;
}
article>div{
    padding-bottom: 30px;
}